 * , *:before, *:after{
     box-sizing:border-box;
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
     -ms-box-sizing:border-box;
   }

#map_outter{
    padding-right: 10px;
    margin-bottom: 10px;
    display:inline-block;
}

#mainView {
}

#add_invest{
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
}

#logout {
    text-align: right;
    padding: 1%;
}