*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

#map_outter {
    padding-right: 10px;
    display: inline-block;
}

#mainView {
}

#add_invest {
    /*padding-top: 5%;*/
    padding-left: 5%;
    padding-right: 5%;
}

#logout {
    text-align: right;
    padding: 1%;
}

.btn-toolbar {
    text-align: center;
}

#judgement_wrapper, #drawing_wrapper {
    padding-bottom: 10px;
    padding-top: 10px;
}

#judgement_wrapper .btn-group, #drawing_wrapper {
    float: none !important;
}

#drawing_wrapper {
    text-align: center;
}

#add_invest {
    text-align: center;
}

#ground_image_1, #diagram_image_4 {
    max-width: 80%;
    margin-bottom: 5px;
}

.navbar {
    margin-bottom: 5px;
}

#too_much{
    color: red;
}

