<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Region Testing</title>
    {% load static %}
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/designate.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{% static 'ground_truth/js/login.js' %}"></script>
</head>
<body>
<div id="outerContainer">
    <!--<div class="jumbotron">-->
        <div id="container">
            <div id="titleBar">
                        <div class="col-lg-2">
                            <img src="{% static 'ground_truth/img/logo.jpg' %}" style="width:100%"/>
                        </div>
                        <div class="col-lg-10">
                            <div id="titlePanel">
                                <h1>GroundTruth</h1>
                                <!--<h3>This is a mock UI for tutorial purpose</h3>-->
                                <!--button class="btn btn-default" data-toggle="collapse" data-target="#instructions">Show/Hide Instructions</button-->
                            </div>
                        </div>
            </div>
        </div>
    <!--</div>-->

        <div class="container2">
            <div class="row">
        <!--<h3>This API does Region Testing</h3>-->

        <!--<center><h4>Click on the link: <a href="{{ task_link }}">{{ task_link }}</a> </h4></center>-->

        <!--<center><h3>AssignmentID: {{ assignment_id }} </h3></center>-->
        <!--<center><h3>hit_id: {{ hit_id }} </h3></center>-->
        <!--<center><h3>worker_id: {{ worker_id }} </h3></center>-->
        <!--<center><h3>task_param: {{ task_param }} </h3></center>-->
                </div>
        <div class="row">
                <hr>
                <div id="footer">
                    <center><a href="{{ task_link }}" class="btn btn-default">Click me!</a></center>
                    <hr>
                    <p class="text-center">Virginia Tech &copy; 2017</p>
                </div>
            </div>
        </div>
</div>
</body>
<style type="text/css">
    .vertical-offset-100 {
        padding-top: 100px;
    }</style>
</html>