<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href=cle"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/designate.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'ground_truth/dist/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'ground_truth/dist/sweetalert.css' %}">
    <script src="{% static 'ground_truth/js/designate.js' %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDztWb9Htt_Lqxe9TJWJR1uvdPZEOyR7kg&libraries=drawing,geometry&callback=initMap"#}
{#            async defer></script>#}

    {#    Ri's API #}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-4Jo0nwXyzbskNsLZpdLUjPYMylDLmRs&libraries=drawing,geometry,places&callback=initMap"
            async defer></script>

    <script src="{% static 'ground_truth/js/jquery.rotate.js' %}"></script>

    {#    Style for Search Box #}
    <style>
        .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }
    </style>

    <style>
    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #ddd}

    .show {display:block;}
    </style>

</head>
<body>
<nav id="nav" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">GroundTruth</a>
        </div>
        <ul class="nav navbar-nav">
            {#            <li class="active"><a href="/designate/">New Investigation</a></li>#}
            {#            <li><a href="/user/investigations/">My Investigations</a></li>#}
            <li><a href="/logout/">Logout: {{ username }}</a></li>
        </ul>
    </div>
</nav>
<div>
    <div class="col-sm-4">
        <div id="add_invest">
            <h4 id="define_title">Please Define Your Search Space</h4>
            <!--<h3>Remaining Time: <span id="time" style="color: red"></span> minutes!</h3>-->
            <h4 id="crowd_title" hidden>Work with the Crowd to Geolocate the Images
            </h4>
            <div id="image_wrapper">

                <img id="ground_image_1" src="{% static 'ground_truth/img/expert1/ground_level_img/image_4.jpg' %}" style="height: 200px; width: 300px"/>
                <br>
                <!--<h5>Hint: Somewhere near Polinago, Italy</h5>-->
                <br><br>

                <img id="diagram_image_1" src="{% static 'ground_truth/img/expert1/diagram_img/diagram_4.jpg'%}" style="height: 200px; width: 300px"/>

                <div class="col-md-12 text-center" style="margin-bottom:15px;">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button id="rot-right" type="button" class="btn btn-default"><i class="fa fa-repeat"
                                                                                        aria-hidden="true"></i>
                        </button>
                        <button id="rot-left" type="button" class="btn btn-default"><i class="fa fa-undo"
                                                                                       aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="dropdown">
                    <button onclick="myFunction()" id="dropBt" class="btn btn-success dropdown-toggle">Estimate the Width of the Diagram &#9660;</button>
                      <div id="width_zoom" class="dropdown-menu">
                        <!--<a href="#small_width">Small   (100 ~ 250 m)   (350 ~ 850 ft)</a>-->
                        <!--<a href="#medium_width">Medium (250 ~ 500 m) (850 ~ 1500 ft)</a>-->
                        <!--<a href="#large_width">Large (500 ~ 1000 m) (1500 ~ 3200 ft)</a>-->
                          <label class="dropdown-item">
                            <input type="radio" name="optradio" data-zoom="16" data-bounds="0.009" data-text="500-1000m &nbsp;&nbsp; 1500-3200 ft ">&nbsp;Large (500 ~ 1000 m)(1500 ~ 3200 ft)<br>
                          </label>
                          <label class="dropdown-item">
                            <input type="radio" name="optradio" data-zoom="17" data-bounds="0.005" checked="" data-text="250-500m &nbsp;&nbsp; 850-1500 ft">&nbsp;Mediu (250 ~ 500 m)(850 ~ 1500 ft)<br>
                          </label>
                          <label class="dropdown-item">
                              <input type="radio" name="optradio" data-zoom="18" data-bounds="0.0025" data-text="100-250m &nbsp;&nbsp; 350-850 ft">&nbsp;Small (100 ~ 250 m)(350 ~ 850 ft)
                          </label>
                      </div>
                </div>
            </div>
            <h5 id="budget"></h5>

            <!--Legend-->
            <!--<img hidden id="legend" src="{% static 'ground_truth/img/legend.jpg' %}" style="width:50%"/>-->

            <table hidden id="legend" style="width:50% margin-left:20%" border="1">
                <h5 hidden id="legend_h"> Color Legend </h5>
                <tr>
                    <td bgcolor="#d7191c" width="20%">Red</td>
                    <td> 0% (none of 3 workers) positive </td>
                </tr>
                <tr>
                    <td bgcolor="#fdae61" width="20%">Orange</td>
                    <td> 33% (1 of 3 workers) positive </td>
                </tr>
                <tr>
                    <td bgcolor="#a6d96a" width="20%">Light Green</td>
                    <td> 67% (2 of 3 workers) positive </td>
                </tr>
                <tr>
                    <td bgcolor="#1a9641" width="20%">Green</td>
                    <td> 100% (3 of 3 workers) positive </td>
                </tr>

            </table>

            <h5 id="cost">Workers required for Search Space: <strong>0</strong></h5>
            <h4 hidden id="too_much">You have selected a search space with bounds that exceeds the allotted number of
                workers.
                Please draw a search space with smaller bounds.</h4>
            <button class="btn btn-default" id="add_investigation_btn">Start Searching (may take a minute...)</button>
            <a href="../foundit/" target="_blank">
                <br><br>
                <!--<button class="btn btn-primary">Next</button>-->
            </a>

            <br><br>

        </div>
    </div>
    <div id="map_outter" class="col-sm-8">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="mainView"></div>
        <div id="drawing_wrapper" class="row" role="group">
            <h5 id="width_zoom_notifier" hidden>250-500m &nbsp;&nbsp; 850-1500ft</h5>
            <div id="width_zoom_0" class="col-xs-12" hidden>
                <label class="radio-inline">
                    <input type="radio" name="optradio" data-zoom="16" data-bounds="0.009" data-text="500-1000m &nbsp;&nbsp; 1500-3200ft
                    (0.3-0.6miles)">500-1000m<br>1500-3200ft
                    (0.3-0.6miles)
                </label>
                <label class="radio-inline active">
                    <input type="radio" name="optradio" data-zoom="17" data-bounds="0.005" checked="" data-text="250-500m &nbsp;&nbsp; 850-1500ft">250-500m<br>850-1500ft
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" data-zoom="18" data-bounds="0.0025" data-text="100-250m &nbsp;&nbsp; 350-850ft">100-250m<br>350-850ft
                </label>
{#                <label class="radio-inline" hidden>#}
{#                    <input type="radio" name="optradio" data-zoom="19" data-bounds="0.0012" data-text="50-100m &nbsp;&nbsp; 150-350ft">50-100m<br>150-350ft#}
{#                </label>#}
{#                <label class="radio-inline" hidden>#}
{#                    <input type="radio" name="optradio" data-zoom="20" data-bounds="0.0006" data-text="30-50m &nbsp;&nbsp; 100-150ft">30-50m<br>100-150ft#}
{#                </label>#}
            </div>
            <div class="col-xs-12">
                <button id="toggle_draw_erase_btn" type="button" class="btn btn-success btn-block"></button>
            </div>

        </div>
        <div id="judgement_wrapper" class="btn-toolbar" role="group" style="display: none">
            <div class="btn-group" role="group">
                <button id="found_it_btn" type="button" class="btn btn-success">Found It!</button>
            </div>
            <div class="btn-group" role="group">
                <button id="toggle_seen_btn" type="button" class="btn btn-default" disabled></button>
            </div>
            <div class="btn-group" role="group">
                <button id="toggle_suggestions_btn" type="button" class="btn btn-default"></button>
                <button id="toggle_overlay_btn" type="button" class="btn btn-default"></button>
            </div>
        </div>
    </div>

</div>
</body>

<script>
<!--function startTimer(duration, display) {-->
    <!--var start = Date.now(),-->
        <!--diff,-->
        <!--minutes,-->
        <!--seconds;-->
    <!--function timer() {-->
        <!--// get the number of seconds that have elapsed since-->
        <!--// startTimer() was called-->
        <!--diff = duration - (((Date.now() - start) / 1000) | 0);-->

        <!--// does the same job as parseInt truncates the float-->
        <!--minutes = (diff / 60) | 0;-->
        <!--seconds = (diff % 60) | 0;-->

        <!--minutes = minutes < 10 ? "0" + minutes : minutes;-->
        <!--seconds = seconds < 10 ? "0" + seconds : seconds;-->

        <!--display.textContent = minutes + ":" + seconds;-->

        <!--if (diff <= 0) {-->
            <!--// add one second so that the count down starts at the full duration-->
            <!--// example 05:00 not 04:59-->
            <!--start = Date.now() + 1000;-->
        <!--}-->
    <!--};-->
    <!--// we don't want to wait a full second before the timer starts-->
    <!--timer();-->
    <!--setInterval(timer, 1000);-->
<!--}-->

<!--window.onload = function () {-->
    <!--var setMinutes = 60 * 5,-->
        <!--display = document.querySelector('#time');-->
    <!--startTimer(setMinutes, display);-->
<!--};-->


function myFunction() {
    document.getElementById("width_zoom").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropdown')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}


</script>

</html>