<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    {% load static %}
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/designate.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{% static 'ground_truth/js/designate.js' %}"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDztWb9Htt_Lqxe9TJWJR1uvdPZEOyR7kg&libraries=drawing,geometry&callback=initMap"
            async defer></script>


</head>
<body>
<nav id="nav" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ground Truth</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/designate/">New Investigation</a></li>
            <li><a href="/user/investigations/">My Investigations</a></li>
            <li><a href="/logout/">Logout: {{ username }}</a></li>
        </ul>
    </div>
</nav>
<div>
    <div class="col-sm-4">
        <div id="add_invest">
            <h4>Please Define Your Investigation</h4>
            <div class="form-group">
                <label for="img_url">Image URL</label>
                <input class="form-control" id="img_url" placeholder="Image web address">

            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="is_dropbox">Dropbox URL</label>
            </div>
            <div class="form-group">
                <label for="invest_name">Investigation Name</label>
                <input class="form-control" id="invest_name" placeholder="">

            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="1" id="description"></textarea>
            </div>
            <h5 id="cost">Total investigation cost: $0.00</h5>
            <h4 hidden id="too_much">You have selected an investigation with bounds that exceeds the a allotted funds.
                Please draw an investigation with smaller bounds.</h4>
            <button class="btn btn-primary" id="add_investigation">Add Investigation</button>

        </div>
    </div>
    <div id="map_outter" class="col-sm-8">
        <div id="mainView"></div>
    </div>

</div>
</body>
</html>