<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    {% load static %}
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/designWide.css' %}">
    <script src="{% static 'ground_truth/js/designate.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDztWb9Htt_Lqxe9TJWJR1uvdPZEOyR7kg&libraries=drawing,geometry&callback=initMap"
            async defer></script>

</head>
<body>
<div id="titleBar">
    <div id="title"><h1>Designate Area</h1></div>
    <div id="leave"><h2>Leave</h2></div>

    <div id="about"><h2>About</h2></div>

</div>
<hr>
<div id="mainView"></div>
<div id="bottom">
    <div id="mysteryImage"><img src="image.png" alt="Mystery Image"></div>
    <div id="miniMap">
        <h4>Workers in Current Region:</h4>
        <p id="workerText">Hover over designated region to find out</p>
    </div>
</div>
</body>
</html>