<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script>
        var lat = {{ lat }};
        var lon = {{ lon }};
    </script>

    <meta charset="UTF-8">
    <title>Found it!</title>
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/foundit.css' %}">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/designate.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{% static 'ground_truth/js/foundit.js' %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDztWb9Htt_Lqxe9TJWJR1uvdPZEOyR7kg&libraries=drawing,geometry&callback=initMap"
            async defer></script>
    <script src="{% static 'ground_truth/js/jquery.rotate.js' %}"></script>
</head>
<body>
<nav id="nav" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">GroundTruth</a>
        </div>
        <ul class="nav navbar-nav">
            {#            <li class="active"><a href="/designate/">New Investigation</a></li>#}
            {#            <li><a href="/user/investigations/">My Investigations</a></li>#}
            <li><a href="/logout/">Logout: {{ username }}</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div id="map"></div>
        <h4>The Identified Location: Lat {{ lat }} Lon {{ lon }}</h4>
    </div>
    <div class="col-sm-2"></div>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <h4>Diagram Image</h4>
        <img src="{{ diagram_image }}">
    </div>
    <div class="col-sm-4">
        <h4>Ground Image</h4>
        <img src="{{ ground_image }}">
    </div>
    <div class="col-sm-2"></div>
</div>

</body>
</html>