<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>GroundTruth - Expert</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/designWide.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


</head>


<body>
<div id="outerContainer">
    <div class="jumbotron">
        <div class="container">
            <div class="col-lg-2">
                <img src="{% static 'ground_truth/img/logo.jpg' %}" style="width:100%"></img>
            </div>
            <div class="col-lg-10">
                <h1>GroundTruth</h1>
                <h3>Expert Software Instructions</h3>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="col-lg-12">
            <h3>While we get your diagrams uploaded, please read the following tutorial.</h3><br>
            <h4>For the remainder of this study, please do not refresh any pages or use any browser navigation. Pages
                will automatically update for you.</h4>
            <h4>You will be performing three geolocation tasks simultaneously with help from crowd workers.</h4>
{#            <img style="width:100%"#}
{#                 src="https://dl.dropboxusercontent.com/s/dy91oq42opiky4g/Instructions%201.png?dl=0"></img>#}
            <h4>You must define and start all three investigations before beginning any geolocation yourself.</h4>
            <h4>During the whole experiment, new tabs are going to pop up after clicking the Next button. Please do not close any tabs, even after finishing the whole experiment.</h4>
            <h4>In addition, make sure to take screenshots on the Mac after finishing each investigation.</h4>
{#            <img style="width:100%"#}
{#                 src="https://dl.dropboxusercontent.com/s/sj5w9hgrjqh7xhs/Instructions%202.png?dl=0"></img>#}
{#            <h3>Remember to start all investigation before doing any of your own searching.</h3>#}
            <h4>You can also watch the video below for better understanding the system. <br> (Not that, the video only shows one investigation)</h4>
            <br><br>
            <iframe width="640" height="480"
                src="https://www.youtube.com/embed/xlw6hxkf1ek?autoplay=1">
            </iframe>
            <br><br>
            <button id="start" type="button" class="btn btn-success btn-lg">Let's Start!</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#start").click(function () {
            <!--window.open("/experiment_choice","_self");-->
            window.open("/image_upload4","_self");

        });
    });
</script>
</body>
</html>