<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Uploading Image</title>
</head>
<body>
<h1>Get ready to upload an image page 3!!!</h1>

   <!-- <form action="image_upload.html" method="POST"></form> -->
<!-- image upload by Ri -->

    <img src="{% static 'ground_truth/img/expert1/ground_level_img/image_3.jpg' %}"/>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button type="submit">Upload</button>
    </form>

  {% if short_url %}
    <img src="{% static 'ground_truth/img/expert1/diagram_img/'|add:short_url%}"/>
    <p>File uploaded at: <a href="{{ short_url }}">{{ short_url }}</a></p>
  {% endif %}

{#            Countdown Clock #}
            <br><br>
            <div>Registration closes in <span id="time"></span> minutes!</div>

</body>

<script>
function startTimer(duration, display) {
    var start = Date.now(),
        diff,
        minutes,
        seconds;
    function timer() {
        // get the number of seconds that have elapsed since
        // startTimer() was called
        diff = duration - (((Date.now() - start) / 1000) | 0);

        // does the same job as parseInt truncates the float
        minutes = (diff / 60) | 0;
        seconds = (diff % 60) | 0;

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (diff <= 0) {
            // add one second so that the count down starts at the full duration
            // example 05:00 not 04:59
            start = Date.now() + 1000;
        }
    };
    // we don't want to wait a full second before the timer starts
    timer();
    setInterval(timer, 1000);
}

window.onload = function () {
    var setMinutes = 60 * 5,
        display = document.querySelector('#time');
    startTimer(setMinutes, display);
};


</script>
</html>