<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Uploading Images</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/designWide.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style>
        #ground_upload img {
            height: auto;
            max-width: 100%;
        }

        /* symbol for "opening" panels */
        .panel-heading .accordion-toggle:after {
            font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon, specifically halflings */
            content: "\e253"; /* type of arrow icon */
            float: right; /* arrow on the right side of the panel */
            color: white; /* color of the icon */
        }

        /* symbol for "collapsed" panels */
        .panel-heading .accordion-toggle.collapsed:after {
            content: "\e252"; /* type of arrow icon */
        }
    </style>
</head>
<body>


<div id="outerContainer">
    <div class="jumbotron">
        <div class="container">
            <div class="col-lg-2">
                <img src="{% static 'ground_truth/img/logo.jpg' %}" style="width:100%">
            </div>
            <div class="col-lg-10">
                <h1>GroundTruth</h1>
                <h3>Upload Images</h3>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="col-lg-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Hey there! Please upload a ground-level or satellite image that you wish to geolocate.</h3>
                <br>
                <input id="ground_file" style="font-size:18px" type="file" name="myfile_gl">
                <br>
                <img id="ground_upload" style="width: 80%" src="">
                <br><br>
                <hr>

                <h3>Great, now we need you to draw and upload an aerial diagram of the image you just provided.</h3>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse1">Why do you need an
                                    aerial
                                    diagram? What exactly do I draw?</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Great question! We asked ourselves the same thing! We know many experts already draw
                                aerial diagrams to help with geolocation tasks. We found that providing an aerial
                                diagram gave us the best results. Crowd workers responded best to aerial diagrams which
                                included streets, buildings, and road markings. These features help increase the odds of
                                finding the correct location.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse2">
                                    Do you have a few examples?</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <strong>Sure! Here are a few ground-level images and their respective aerial diagrams
                                    with the
                                    appropriate level of detail.</strong>
                                <br><br><br>
                                <img id="gt_overview" style="width:100%;"
                                     src="{% static 'ground_truth/img/expert1/ground_level_img/gld_and_aerial_examples.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse3">
                                    How should I draw it?</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Really, it's up to you. If you're more comfortable using an electronic drawing tool, go
                                for it. Pen and paper is fine too. The final image must be in the format of .jpg, .png,
                                or .pdf. Once you've finished drawing, we can sort out the details of getting them to
                                your team of crowd workers.

                                Don't panic! This isn't an art competition!

                                Do your best with drawing the diagrams, but don't worry too much.
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <hr>
                <h3>Ideally, please try to spend no more than 5 minutes drawing. Once you have completed drawing and
                    uploading your diagram click the button below to move forward.</h3>
                <br>
                <input style="font-size:18px" id="diagram_file" type="file" name="myfile_di">
                <br>
                <img id="diagram_upload" style="width: 30%" src="">
                <br><br>
                <hr>
                <div class="dropdown">
                    <h3>Estimate the width of the diagram</h3>
                    <select id="form_width" class="form-control">
                        <option id="op1" value="1" data-zoom="16" data-bounds="0.009"
                                data-text="500-1000m &nbsp;&nbsp; 1500-3200 ft ">&nbsp;Large (500 ~ 1000 m)(1500 ~ 3200
                            ft)
                        </option>
                        <option id="op2" value="2" data-zoom="17" data-bounds="0.005"
                                data-text="250-500m &nbsp;&nbsp; 850-1500 ft">&nbsp;Medium (250 ~ 500 m)(850 ~ 1500 ft)
                        </option>
                        <option id="op3" value="3" data-zoom="18" data-bounds="0.0025"
                                data-text="100-250m &nbsp;&nbsp; 350-850 ft">&nbsp;Small (100 ~ 250 m)(350 ~ 850 ft)
                        </option>
                    </select>
                </div>

                <div class="row">
                    <br>
                    <hr>
                    <br>
                    <div class="row text-center">
                        <button type="submit" class="btn btn-success btn-lg">Next: GroundTruth Tutorial</button>
                    </div>
                    <div id="footer" class="col-sm-4 col-sm-offset-4">
                        <br><br><br><br>
                        <p class="text-center">Virginia Tech &copy; 2017</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<script>
    /* function used to populate page with the ground level image after the selecting a image via choose file */
    function readURL(input, image_input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $(image_input).attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    /* with the choose file button change, then it will call the readURL function*/
    $('#ground_file').change(function () {
        readURL(this, '#ground_upload');
    });

    $('#diagram_file').change(function () {
        readURL(this, '#diagram_upload');
    });

    window.onload = function () {
        // jquery plugin for the collapsible panel (accordion)
        $('.collapse').collapse();
    };
</script>
</html>