<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <title>GroundTruth - Expert</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/designWide.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


</head>


<body>
<div id="outerContainer">
    <div class="jumbotron">
        <div class="container">
            <div class="col-lg-2">
                <img src="{% static 'ground_truth/img/logo.jpg' %}" style="width:100%"></img>
            </div>
            <div class="col-lg-10">
                <h1>GroundTruth</h1>
                <h3>Expert Start Page</h3>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="panel panel-primary" style="margin-bottom:20px">
            <div class="panel-heading">
                <h3 class="panel-title">Instructions</h3>
            </div>
            <div class="panel-body">
                <h2>Thank you for participating in this study. We really appreciate it!</h2>
                <p>For this study, you will be asked to geolocate three images using help from crowd workers.
                    As part of this research, we have conducted a series of studies which shed light on
                    what reference material to provide crowd workers for a successful search.</p>
                <h4>We found that providing an aerial perspective diagram provides the best guidance for workers.</h4>
                <p>So to get started, we ask that you produce an aerial perspective diagram representing the below
                    ground level images.</p>
                <h4>What should you draw?</h4>
                <p>Great question! We asked ourselves the same thing! We know many experts already draw aerial
                    perspective diagrams to help with geolocation tasks.
                    We found that crowd workers responded best to diagrams which included <strong>streets,
                        buildings,</strong> and <strong>road markings</strong>.
                    These features are sufficient for a successful search, so we suggest this strategy for diagramming.
                </p>
                <h4>How should you draw it?</h4>
                <p>Really, it's up to you. If you are more comfortable using an electronic drawing tool, go for it. Pen
                    and paper is fine too.
                    The final image must be in the format of .jpg, .png, or .pdf.
                    Once you've finished drawing, we can sort out the details of getting them to your team of
                    workers.
                    <br>
                    <strong>jpurviance@vt.edu</strong>
                </p>
                <h4>Don't panic! This isn't an art competition!</h4>
                <p>Do your best with the diagrams, but don't worry too much. Please try to spend no more than a couple
                    of minutes on each one.
                    Ideally, no more than 10 minutes for all three.</p>
                <h2>Questions?</h2>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Image 1 of 3</h3>
                    </div>
                    <div class="panel-body">
                        <img id="mysteryImage1" style="width:100%;"
                             src="https://dl.dropboxusercontent.com/s/1p626ode49rgigh/cmd_ground_blur.png?dl=0"></img>
                    </div>
                </div>

                <br><br><br>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Image 2 of 3</h3>
                    </div>
                    <div class="panel-body">
                        <img id="mysteryImage2" style="width:100%;"
                             src="https://dl.dropboxusercontent.com/s/egf81fs01e28mmb/clt_ground_blur.png?dl=0"></img>
                    </div>
                </div>
                <br><br><br>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Image 3 of 3</h3>
                    </div>
                    <div class="panel-body">
                        <img id="mysteryImage3" style="width:100%;"
                             src="https://dl.dropboxusercontent.com/s/ro4ivlbiraezw49/BR_ground.jpg?dl=0"></img>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <br>
            <hr>
            <br>
            <div class="row text-center">
                <h1>You're a diagramming pro!</h1>
                <h3>Ready for the next part?</h3>
                <button id="start" type="button" class="btn btn-success btn-lg">Absolutely!</button>
            </div>
            <div id="footer" class="col-sm-4 col-sm-offset-4">
                <br><br><br><br>
                <p class="text-center">Virginia Tech &copy; 2017</p>
            </div>
        </div>

    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $("#start").click(function () {
            window.open("/how_to");
        });
    });
</script>
</body>
</html>