<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta charset="utf-8">
    {% load static %}
    <link id="size-stylesheet" rel="stylesheet" type="text/css" href="{% static 'ground_truth/css/designWide.css' %}">
    <link href="{% static 'ground_truth/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'ground_truth/dist/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'ground_truth/dist/sweetalert.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ground_truth/dist/joyride.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="{% static 'ground_truth/dist/joyride.js' %}"></script>
    <script type="text/javascript" src="{% static 'ground_truth/js/search.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDztWb9Htt_Lqxe9TJWJR1uvdPZEOyR7kg&libraries=drawing&callback=initMap"
            async defer></script>

    <script src="{% static 'ground_truth/js/Matrix.js' %}"></script>
    {#	<script src="{% static 'ground_truth/js/jquery.freetrans.js' %}"></script>#}
    <script src="{% static 'ground_truth/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ground_truth/js/jquery.rotate.js' %}"></script>


</head>


<body>
<div id="outerContainer">
    <div id="container">
        <div id="titleBar">
            <div class="col-xs-2">
                <img src="{% static 'ground_truth/img/logo.jpg' %}" style="width:100%"/>
            </div>
            <div class="col-xs-4">
                <div id="titlePanel">
                    <h1>GroundTruth</h1>
                    <!--button class="btn btn-default" data-toggle="collapse" data-target="#instructions">Show/Hide Instructions</button-->
                </div>
            </div>
            <div class="col-xs-6">

                <div id="titlePanel">

                    <!--button id="instructionsButton" class="btn btn-default" data-toggle="collapse" data-target="#instructions">Show/Hide Instructions</button-->
                    <a id="startride" class="btn btn-large btn-default">View Tutorial</a>
                    <h3>Remaining Time: <span id="time" style="color: red"></span> minutes!</h3>
                    <!--<div id="clockdiv"></div>-->
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <!--div id="instructions" class="collapse in jr-quantity" class="col-xs-6 offset-xs-3" style="margin-bottom:20px">
                Here are some sample instructions
            </div-->
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="row">
                    <!--div id='bounds'></div-->
                    <img id="mysteryImage" style="width:100%;"/>
                    <div class="col-md-12 text-center" style="margin-bottom:15px;">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button id="rot-right" type="button" class="btn btn-default"><i class="fa fa-repeat"
                                                                                            aria-hidden="true"></i>
                            </button>
                            <button id="rot-left" type="button" class="btn btn-default"><i class="fa fa-undo"
                                                                                           aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="miniMap"></div>
                </div>
            </div>
            <div class="col-xs-8" id="right-div">

                <div id="mainView"></div>

            </div>
        </div>
        <textarea id="comments" name="comments" rows="5" style="width:100%; margin:70px 20px 0px 20px; padding:10px;"
                  placeholder="Feel free to leave any comments about your experience with the task."></textarea>
        <button type='submit' id='submitButton'
                style="width:100%; margin:0px 20px; padding:10px;" disabled="true" class="btn btn-block">Generate
            Passcode
        </button>
        <!--<form id ="mturk_form"/>-->
        <form action="https://workersandbox.mturk.com/mturk/externalSubmit" method="POST" id="mturk_form">
            {% csrf_token %}
            <input type="hidden" name="assignmentId" id="assignmentId" value="">
            <input type="submit" name="submit" value="Submit">
        </form>
        <div class="row">
            <hr>
            <div id="footer">
                <p class="text-center">Virginia Tech &copy; 2017</p>
            </div>
        </div>
    </div>
</div>


{#<ol id="joyRideTipContent">#}
{#    <li data-id="mysteryImage" data-button="Next" data-options="tipLocation:right">#}
{#        <p>This is your reference diagram. Your mission is find the area on the map that the diagram represents. You#}
{#            will look through 16 satellite subregions and indicate whether or not the satellite imagery matches the#}
{#            diagram. Pay attention to the features in the diagram and see if#}
{#            you can find them in the satellite region. You can rotate it using the controls below.</p>#}
{#    </li>#}
{#    <li data-id="right-div" data-button="Next" data-options="tipLocation:left">#}
{#        <p>This is what one subregion will look like. Remember to look at not only the center, but also the edges and#}
{#            corners of these subregions for similar features.</p>#}
{#    </li>#}
{#    <li data-id="yesButton" data-button="Next" data-options="tipLocation:left">#}
{#        <p>If you think the satellite imagery matches the diagram, click the 'Yes / Maybe' button.</p>#}
{#    </li>#}
{#    <li data-id="noButton" data-button="Next" data-options="tipLocation:left">#}
{#        <p>If you do not think the satellite imagery matches the diagram, click the 'No' button.</p>#}
{#    </li>#}
{#    <li data-id="nextButton" data-button="Next" data-options="tipLocation:left">#}
{#        <p>After you make a decision, click the 'Next' button to view the next subregion.</p>#}
{#    </li>#}
{#    <li data-id="miniMap" data-button="Next" data-options="tipLocation:right">#}
{#        <p>This map shows your progress throughout the 16 subregions. As you make your determinations, this map will#}
{#            update.</p>#}
{#    </li>#}
{#    <li data-id="mainView" data-button="Next" data-options="tipLocation:left">#}
{#        <p>Feel free to use any of the map controls available to you.</p>#}
{#    </li>#}
{#    <li data-id="submitButton" data-button="Close" data-options="tipLocation:top">#}
{#        <p>After you have completed the task, this Generate Passcode button will become enabled. Please use this button#}
{#            to generate your unique passcode. Copy the passcode and paste it into Passcode field in the original#}
{#            HIT.</p>#}
{#    </li>#}
{#</ol>#}

<script type="text/javascript">
    var _mfq = _mfq || [];
    (function () {
        var mf = document.createElement("script");
        mf.type = "text/javascript";
        mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/0d23f5c1-b71d-44dc-8df9-8157efd37d84.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();



    function startTimer(duration, display) {
    var start = Date.now(),
        diff,
        minutes,
        seconds;
    function timer() {
        // get the number of seconds that have elapsed since
        // startTimer() was called
        diff = duration - (((Date.now() - start) / 1000) | 0);

        // does the same job as parseInt truncates the float
        minutes = (diff / 60) | 0;
        seconds = (diff % 60) | 0;

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (diff <= 0) {
            // add one second so that the count down starts at the full duration
            // example 05:00 not 04:59
            start = Date.now() + 1000;
        }
    };
    // we don't want to wait a full second before the timer starts
    timer();
    setInterval(timer, 1000);
}

window.onload = function () {
    var setMinutes = 60 * 10,
        display = document.querySelector('#time');
    startTimer(setMinutes, display);
};

</script>
</body>

</html>